/* font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

/* common__class */

.container {
  width: 65%;
  margin: 0 auto;
}

.heading {
  font-size: 42px;
  color: #1a0b5b;
  text-align: center;
  margin: 129px 0px 48px 0px;
}

.flexing__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  font-size: 34px;
  font-weight: 700;
  color: #0d0e43;
}

/* top__header */
.top__header {
  height: 44px;
  background-color: #7e33e0;
}
.top__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.top__header__contact {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.top__header__info {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 32px;
}

/* nav_bar */

.navbar {
  height: 78px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  gap: 88px;
}

.nav__list__item {
  display: flex;
  gap: 4px;
  list-style: none;
}
.item {
  font-size: 16px;
  font-weight: 400;
  padding: 30px 15px;
}
.item:hover {
  color: #fb2e86;
  text-decoration: underline;
  cursor: pointer;
}
.search__bar {
  border: 2px solid #e7e6ef;
  height: 40px;
  outline: none;
  font-size: 16px;
  border-right: none;
}
.search__btn {
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  background-color: #fb2e86;
  float: right;
  border-left: none;
  cursor: pointer;
}

/* Hero section */

.hero__section {
  height: 764px;
  background-color: #f2f0ff;
}
.hero__slider {
  background-image: url("../utility/images/light.png");
  background-repeat: no-repeat;
}
.hero__wrapper {
  height: 760px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* left__side */

.left__side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.heading__text {
  font-size: 16px;
  font-weight: 700;
  color: #fb2e86;
}

.main__text {
  font-size: 53px;
  letter-spacing: 0.015em;
  margin: 12px 0px;
}
.foot__text {
  font-size: 16px;
  font-weight: 700;
  color: #8a8fb9;
  margin-bottom: 43px;
}

.shop_btn {
  height: 50px;
  width: 163px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  background-color: #fb2e86;
  font-size: 17px;
}

.shop_btn:hover {
  border: 2px solid #fb2e86;
  border-radius: 2px;
  color: #fb2e86;
  background-color: white;
}

/* right__side */

.right__side {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../utility/images/circle.png");
  background-repeat: no-repeat;
  background-position: center;
}
.right__side__img__one {
  height: 600px;
  width: 600px;
  position: absolute;
}
.right__side__img__two {
  margin-bottom: 450px;
  margin-left: 600px;
}

.doted {
  text-align: center;
  z-index: 999;
  margin-top: -50px;
}
.dot {
  margin-bottom: 300px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  transform: rotate(45deg);
  border: 2px solid #fb2e86;
  display: inline-block;
  background-color: #f2f0ff;
  margin-left: 10px;
}

.active {
  background-color: #fb2e86;
  border: none;
}

/* featured__product */
.featured__product {
  margin-bottom: 71px;
}

.product__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
}

.card {
  height: 361px;
  width: 270px;
  background-color: #f6f7fb;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon {
  display: none;
}
.card:hover .icon {
  display: flex;
  align-items: center;
  margin: 11px 0px -39px 11px;
  gap: 17px;
}
.card__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 46px 52px 12px 40px;
}

.details__btn {
  display: none;
  width: 94px;
  height: 29px;
  background-color: #08d15f;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: 500px;
}
.card:hover .details__btn {
  display: block;
}
.card__info {
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: #fff;
}
.card:hover .card__info {
  height: 125px;
  background-color: #2f1ac4;
}
.card__info .title {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  color: #fb2e86;
  margin-top: 15px;
}
.card:hover .title {
  color: white;
}
.pro__color {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.color__1 {
  height: 5px;
  width: 20px;
  background-color: #05e6b7;
  border-radius: 10px;
}
.color__2 {
  height: 5px;
  width: 20px;
  background-color: #fb2e86;
  border-radius: 10px;
}
.color__3 {
  height: 5px;
  width: 20px;
  background-color: #00009d;
  border-radius: 10px;
}
.card:hover .color__3 {
  background-color: #ffeac1;
}
.product__tag {
  font-size: 14px;
  color: #151875;
}
.card:hover .product__tag {
  color: white;
}

.indicator {
  text-align: center;
  z-index: 999;
  margin-top: 53px;
}
.ind {
  height: 4px;
  width: 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #febad7;
  margin-left: 10px;
}

.ind:hover {
  background-color: #fb2e86;
  width: 24px;
}

/* latest__product */
.latest__product {
  margin-bottom: 63px;
}
.mini__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 19px 0 62px 0;
}

.nav__item {
  font-weight: 400;
  font-size: 18px;
  color: #151875;
}

.nav__item:hover {
  text-decoration: underline;
  color: #fb2e86;
}

.latest__product__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 37px;
}

.latest__card {
  width: 370px;
  height: 300px;
}

.sale__tag {
  display: none;
  margin-bottom: -77px;
  margin-left: 18px;
  position: absolute;
}
.latest__card:hover .sale__tag {
  display: block;
}
.l__icon {
  display: none;
}
.latest__card:hover .l__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin: 80px 0 0 -55px;
}
.l__card__img {
  height: 269px;
  padding: 33px 64px 8px 73px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest__card:hover .l__card__img {
  background-color: white;
  z-index: -1;
}

.l__card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  color: #151875;
}

.discount {
  text-decoration: line-through;
  color: #fb2448;
}

/* service__offer */
.service__section {
  margin-bottom: 135px;
}
.service__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 28px;
}

.service__card {
  height: 320px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}

.service__title {
  margin-top: 41px;
  font-size: 22px;
  color: #151875;
}

.service__des {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: rgba(26, 11, 91, 0.3);
  padding: 20px 27px;
}

/* unique__section */

.unique__section {
  height: 579px;
  background-color: #f1f0ff;
  margin-bottom: 132px;
}

.uniq__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.uniq__left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../utility/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
}

.uniq__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 29px;
}

.heading__right {
  font-size: 35px;
  letter-spacing: 0.015em;
  color: #151875;
}

.right__item {
  font-weight: 500;
  font-size: 16px;
  color: #acabc3;
}

.foot__item {
  display: flex;
  flex-direction: row;
  gap: 19px;
}
.cart__btn {
  height: 45px;
  width: 157px;
  background-color: #fb2e86;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.title_price {
  font-size: 14px;
  color: #151875;
}

/* treading__product */
.Treading__product {
  margin-bottom: 134px;
}
.product__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.tred__card {
  height: 350px;
  width: 270px;
  filter: drop-shadow(0px 8px 40px rgba(49, 32, 138, 0.05));
  padding: 12px 12px 0 12px;
  background-color: white;
}

.tred__img {
  height: 247px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6f8;
}
.tred__info {
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #151875;
}

.red__title {
  font-size: 16px;
}
.tred__price {
  margin-top: 8px;
  font-size: 14px;
}
.tred__price span {
  font-size: 12px;
  text-decoration: line-through;
}

.adv__grid {
  margin-top: 39px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 35px;
}
.adv__1 {
  background-color: #fff6fb;
}
.adv__2 {
  background-color: #eeeffb;
}
.adv__card {
  height: 270px;
  width: 420px;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}

.adv__info {
  padding: 34px 0 0 25px;
}
.adv__title {
  font-weight: 600;
  font-size: 26px;
  color: #151875;
}

.adv__btn {
  font-weight: 600;
  font-size: 16px;
  text-decoration-line: underline;
  color: #fb2e86;
}
.adv__img {
  float: right;
}

.adv__multi__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.adv__single__card {
  height: 74px;
  width: 300px;
  color: #f5f6f8;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.adv__single__img {
  width: 107px;
  height: 74px;
  background-color: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_price span {
  text-decoration: line-through;
}

/* footer__section */

.footer__section {
  height: 479px;
  background-color: #eeeffb;
}

.footer__grid {
  height: 479px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 71px;
}

.first__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.search__content {
  margin: 31px 0 25px 0;
}
.search__bar2 {
  border: 2px solid #e7e6ef;
  height: 44px;
  width: 377px;
  outline: none;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}
.search__btn2 {
  height: 43px;
  width: 80px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #fb2e86;
  float: right;
  border-left: none;
  cursor: pointer;
}

.contact__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8a8fb9;
}
.second__content {
  margin-top: 100px;
}
.common__heading {
  font-size: 22px;
  margin-bottom: 42px;
}

.link__content {
  font-weight: 400;
  font-size: 16px;
  color: #8a8fb9;
}
.link__content p {
  margin-bottom: 21px;
}

.footer__second {
  height: 53px;
  background-color: #e7e4f8;
}
.second__grid {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__icon {
  margin-right: 18px;
}
.auth__info {
  font-weight: 600;
  font-size: 16px;
  color: #9da0ae;
}
